<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/main.css">
    <title>Games</title>
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center p-2">Add A Game</h2>
                <form action="/add-game" method="POST">
                        <div class="form-group mt-3">
                            <label for="game-title">Title:</label>
                            <input name="title" id="game-title" type="text" class="form-control" placeholder="Settlers of Catan">
                        </div>
                        <div class="form-group mt-3">
                                <label for="more-info-url">More Info:</label>
                                <input name="more-info-url" id="more-info-url" type="text" class="form-control" placeholder="https://www.catan.com/">
                        </div>
                        <div class="form-group mt-3">
                                <label for="secret">User Secret:</label>
                                <input name="secret" id="secret" type="password" class="form-control" placeholder="W@y2K33p@s3Cr3t">
                        </div>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>